app:
  secret:       SECRET
  url:          http://storage.openteam.ru

errors:
  key:          KEY
  url:          http://errors.openteam.ru

# Uncomment to use watermark
#watermark:
  #file:         public/logotype.png
